--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: myapp_book; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_book (
    id bigint NOT NULL,
    book_name character varying(100) NOT NULL,
    depression_percentage numeric(5,2),
    anxiety_percentage numeric(5,2),
    mood_disorder_percentage numeric(5,2),
    somatic_disorder_percentage numeric(5,2),
    trauma_percentage numeric(5,2),
    stress_percentage numeric(5,2),
    obsessive_compulsive_percentage numeric(5,2),
    psychotic_percentage numeric(5,2),
    dissociative_percentage numeric(5,2),
    neurocognitive_percentage numeric(5,2),
    neurodevelopmental_percentage numeric(5,2),
    substance_use_percentage numeric(5,2),
    personality_percentage numeric(5,2),
    sleep_disorder_percentage numeric(5,2),
    self_harm_percentage numeric(5,2),
    eating_percentage numeric(5,2)
);


ALTER TABLE public.myapp_book OWNER TO postgres;

--
-- Name: myapp_book_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_book ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_book_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_breathingexercise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_breathingexercise (
    id bigint NOT NULL,
    exercise_name character varying(50) NOT NULL,
    depression_percentage numeric(5,2),
    anxiety_percentage numeric(5,2),
    mood_disorder_percentage numeric(5,2),
    somatic_disorder_percentage numeric(5,2),
    trauma_percentage numeric(5,2),
    stress_percentage numeric(5,2),
    obsessive_compulsive_percentage numeric(5,2),
    psychotic_percentage numeric(5,2),
    dissociative_percentage numeric(5,2),
    neurocognitive_percentage numeric(5,2),
    neurodevelopmental_percentage numeric(5,2),
    substance_use_percentage numeric(5,2),
    personality_percentage numeric(5,2),
    sleep_disorder_percentage numeric(5,2),
    self_harm_percentage numeric(5,2),
    eating_percentage numeric(5,2)
);


ALTER TABLE public.myapp_breathingexercise OWNER TO postgres;

--
-- Name: myapp_breathingexercise_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_breathingexercise ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_breathingexercise_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_chat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_chat (
    id bigint NOT NULL,
    message text NOT NULL,
    response text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    support_level character varying(20) NOT NULL
);


ALTER TABLE public.myapp_chat OWNER TO postgres;

--
-- Name: myapp_chat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_chat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_chat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_movie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_movie (
    id bigint NOT NULL,
    movie_name character varying(100) NOT NULL,
    depression_percentage numeric(5,2),
    anxiety_percentage numeric(5,2),
    mood_disorder_percentage numeric(5,2),
    somatic_disorder_percentage numeric(5,2),
    trauma_percentage numeric(5,2),
    stress_percentage numeric(5,2),
    obsessive_compulsive_percentage numeric(5,2),
    psychotic_percentage numeric(5,2),
    dissociative_percentage numeric(5,2),
    neurocognitive_percentage numeric(5,2),
    neurodevelopmental_percentage numeric(5,2),
    substance_use_percentage numeric(5,2),
    personality_percentage numeric(5,2),
    sleep_disorder_percentage numeric(5,2),
    self_harm_percentage numeric(5,2),
    eating_percentage numeric(5,2)
);


ALTER TABLE public.myapp_movie OWNER TO postgres;

--
-- Name: myapp_movie_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_movie ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_movie_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_music; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_music (
    id bigint NOT NULL,
    music_name character varying(50) NOT NULL,
    depression_percentage numeric(5,2),
    anxiety_percentage numeric(5,2),
    mood_disorder_percentage numeric(5,2),
    somatic_disorder_percentage numeric(5,2),
    trauma_percentage numeric(5,2),
    stress_percentage numeric(5,2),
    obsessive_compulsive_percentage numeric(5,2),
    psychotic_percentage numeric(5,2),
    dissociative_percentage numeric(5,2),
    neurocognitive_percentage numeric(5,2),
    neurodevelopmental_percentage numeric(5,2),
    substance_use_percentage numeric(5,2),
    personality_percentage numeric(5,2),
    sleep_disorder_percentage numeric(5,2),
    self_harm_percentage numeric(5,2),
    eating_percentage numeric(5,2)
);


ALTER TABLE public.myapp_music OWNER TO postgres;

--
-- Name: myapp_music_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_music ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_music_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_option; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_option (
    id bigint NOT NULL,
    question_id bigint NOT NULL,
    anxiety_percentage integer NOT NULL,
    depression_percentage integer NOT NULL,
    dissociative_disorders_percentage integer NOT NULL,
    eating_percentage integer NOT NULL,
    mood_disorder_percentage integer NOT NULL,
    neurocognitive_percentage integer NOT NULL,
    neurodevelopmental_percentage integer NOT NULL,
    obsessive_compulsive_percentage integer NOT NULL,
    option_text text NOT NULL,
    personality_precentage integer NOT NULL,
    psychotic_percentage integer NOT NULL,
    self_harm_percentage integer NOT NULL,
    sleep_disorder_percentage integer NOT NULL,
    somatic_disorder_percentage integer NOT NULL,
    stress_precentage integer NOT NULL,
    substance_use_percentage integer NOT NULL,
    trauma_percentage integer NOT NULL
);


ALTER TABLE public.myapp_option OWNER TO postgres;

--
-- Name: myapp_option_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_option ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_option_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_podcast; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_podcast (
    id bigint NOT NULL,
    podcast_name character varying(100) NOT NULL,
    depression_percentage numeric(5,2),
    anxiety_percentage numeric(5,2),
    mood_disorder_percentage numeric(5,2),
    somatic_disorder_percentage numeric(5,2),
    trauma_percentage numeric(5,2),
    stress_percentage numeric(5,2),
    obsessive_compulsive_percentage numeric(5,2),
    psychotic_percentage numeric(5,2),
    dissociative_percentage numeric(5,2),
    neurocognitive_percentage numeric(5,2),
    neurodevelopmental_percentage numeric(5,2),
    substance_use_percentage numeric(5,2),
    personality_percentage numeric(5,2),
    sleep_disorder_percentage numeric(5,2),
    self_harm_percentage numeric(5,2),
    eating_percentage numeric(5,2)
);


ALTER TABLE public.myapp_podcast OWNER TO postgres;

--
-- Name: myapp_podcast_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_podcast ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_podcast_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_profile (
    id bigint NOT NULL,
    avatar character varying(100),
    mobile_number character varying(15),
    gender character varying(1),
    nationality character varying(50),
    user_id integer NOT NULL
);


ALTER TABLE public.myapp_profile OWNER TO postgres;

--
-- Name: myapp_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_question (
    id bigint NOT NULL,
    question_text text NOT NULL,
    question_type character varying(50) NOT NULL
);


ALTER TABLE public.myapp_question OWNER TO postgres;

--
-- Name: myapp_question_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_question ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_question_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_quizresult; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_quizresult (
    id bigint NOT NULL,
    disorder_scores jsonb NOT NULL,
    completed_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.myapp_quizresult OWNER TO postgres;

--
-- Name: myapp_quizresult_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_quizresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_quizresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_userresponse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_userresponse (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    question_id bigint NOT NULL,
    selected_option_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.myapp_userresponse OWNER TO postgres;

--
-- Name: myapp_userresponse_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_userresponse ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_userresponse_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_workout; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_workout (
    id bigint NOT NULL,
    workout_name character varying(50) NOT NULL,
    depression_percentage numeric(5,2),
    anxiety_percentage numeric(5,2),
    mood_disorder_percentage numeric(5,2),
    somatic_disorder_percentage numeric(5,2),
    trauma_percentage numeric(5,2),
    stress_percentage numeric(5,2),
    obsessive_compulsive_percentage numeric(5,2),
    psychotic_percentage numeric(5,2),
    dissociative_percentage numeric(5,2),
    neurocognitive_percentage numeric(5,2),
    neurodevelopmental_percentage numeric(5,2),
    substance_use_percentage numeric(5,2),
    personality_percentage numeric(5,2),
    sleep_disorder_percentage numeric(5,2),
    self_harm_percentage numeric(5,2),
    eating_percentage numeric(5,2)
);


ALTER TABLE public.myapp_workout OWNER TO postgres;

--
-- Name: myapp_workout_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_workout ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_workout_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_yoga; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_yoga (
    id bigint NOT NULL,
    yoga_name character varying(50) NOT NULL,
    depression_percentage numeric(5,2),
    anxiety_percentage numeric(5,2),
    mood_disorder_percentage numeric(5,2),
    somatic_disorder_percentage numeric(5,2),
    trauma_percentage numeric(5,2),
    stress_percentage numeric(5,2),
    obsessive_compulsive_percentage numeric(5,2),
    psychotic_percentage numeric(5,2),
    dissociative_percentage numeric(5,2),
    neurocognitive_percentage numeric(5,2),
    neurodevelopmental_percentage numeric(5,2),
    substance_use_percentage numeric(5,2),
    personality_percentage numeric(5,2),
    sleep_disorder_percentage numeric(5,2),
    self_harm_percentage numeric(5,2),
    eating_percentage numeric(5,2)
);


ALTER TABLE public.myapp_yoga OWNER TO postgres;

--
-- Name: myapp_yoga_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_yoga ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_yoga_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	myapp	profile
2	myapp	chat
3	myapp	question
4	myapp	option
5	myapp	userresponse
6	myapp	book
7	myapp	breathingexercise
8	myapp	movie
9	myapp	music
10	myapp	podcast
11	myapp	workout
12	myapp	yoga
13	myapp	quizresult
14	admin	logentry
15	auth	permission
16	auth	group
17	auth	user
18	contenttypes	contenttype
19	sessions	session
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: myapp_book; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_book (id, book_name, depression_percentage, anxiety_percentage, mood_disorder_percentage, somatic_disorder_percentage, trauma_percentage, stress_percentage, obsessive_compulsive_percentage, psychotic_percentage, dissociative_percentage, neurocognitive_percentage, neurodevelopmental_percentage, substance_use_percentage, personality_percentage, sleep_disorder_percentage, self_harm_percentage, eating_percentage) FROM stdin;
\.


--
-- Data for Name: myapp_breathingexercise; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_breathingexercise (id, exercise_name, depression_percentage, anxiety_percentage, mood_disorder_percentage, somatic_disorder_percentage, trauma_percentage, stress_percentage, obsessive_compulsive_percentage, psychotic_percentage, dissociative_percentage, neurocognitive_percentage, neurodevelopmental_percentage, substance_use_percentage, personality_percentage, sleep_disorder_percentage, self_harm_percentage, eating_percentage) FROM stdin;
\.


--
-- Data for Name: myapp_chat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_chat (id, message, response, created_at, user_id, support_level) FROM stdin;
\.


--
-- Data for Name: myapp_movie; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_movie (id, movie_name, depression_percentage, anxiety_percentage, mood_disorder_percentage, somatic_disorder_percentage, trauma_percentage, stress_percentage, obsessive_compulsive_percentage, psychotic_percentage, dissociative_percentage, neurocognitive_percentage, neurodevelopmental_percentage, substance_use_percentage, personality_percentage, sleep_disorder_percentage, self_harm_percentage, eating_percentage) FROM stdin;
\.


--
-- Data for Name: myapp_music; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_music (id, music_name, depression_percentage, anxiety_percentage, mood_disorder_percentage, somatic_disorder_percentage, trauma_percentage, stress_percentage, obsessive_compulsive_percentage, psychotic_percentage, dissociative_percentage, neurocognitive_percentage, neurodevelopmental_percentage, substance_use_percentage, personality_percentage, sleep_disorder_percentage, self_harm_percentage, eating_percentage) FROM stdin;
\.


--
-- Data for Name: myapp_option; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_option (id, question_id, anxiety_percentage, depression_percentage, dissociative_disorders_percentage, eating_percentage, mood_disorder_percentage, neurocognitive_percentage, neurodevelopmental_percentage, obsessive_compulsive_percentage, option_text, personality_precentage, psychotic_percentage, self_harm_percentage, sleep_disorder_percentage, somatic_disorder_percentage, stress_precentage, substance_use_percentage, trauma_percentage) FROM stdin;
\.


--
-- Data for Name: myapp_podcast; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_podcast (id, podcast_name, depression_percentage, anxiety_percentage, mood_disorder_percentage, somatic_disorder_percentage, trauma_percentage, stress_percentage, obsessive_compulsive_percentage, psychotic_percentage, dissociative_percentage, neurocognitive_percentage, neurodevelopmental_percentage, substance_use_percentage, personality_percentage, sleep_disorder_percentage, self_harm_percentage, eating_percentage) FROM stdin;
\.


--
-- Data for Name: myapp_profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_profile (id, avatar, mobile_number, gender, nationality, user_id) FROM stdin;
\.


--
-- Data for Name: myapp_question; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_question (id, question_text, question_type) FROM stdin;
\.


--
-- Data for Name: myapp_quizresult; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_quizresult (id, disorder_scores, completed_at, user_id) FROM stdin;
\.


--
-- Data for Name: myapp_userresponse; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_userresponse (id, created_at, question_id, selected_option_id, user_id) FROM stdin;
\.


--
-- Data for Name: myapp_workout; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_workout (id, workout_name, depression_percentage, anxiety_percentage, mood_disorder_percentage, somatic_disorder_percentage, trauma_percentage, stress_percentage, obsessive_compulsive_percentage, psychotic_percentage, dissociative_percentage, neurocognitive_percentage, neurodevelopmental_percentage, substance_use_percentage, personality_percentage, sleep_disorder_percentage, self_harm_percentage, eating_percentage) FROM stdin;
\.


--
-- Data for Name: myapp_yoga; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_yoga (id, yoga_name, depression_percentage, anxiety_percentage, mood_disorder_percentage, somatic_disorder_percentage, trauma_percentage, stress_percentage, obsessive_compulsive_percentage, psychotic_percentage, dissociative_percentage, neurocognitive_percentage, neurodevelopmental_percentage, substance_use_percentage, personality_percentage, sleep_disorder_percentage, self_harm_percentage, eating_percentage) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 76, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 19, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 32, true);


--
-- Name: myapp_book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_book_id_seq', 1, false);


--
-- Name: myapp_breathingexercise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_breathingexercise_id_seq', 1, false);


--
-- Name: myapp_chat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_chat_id_seq', 1, false);


--
-- Name: myapp_movie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_movie_id_seq', 1, false);


--
-- Name: myapp_music_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_music_id_seq', 1, false);


--
-- Name: myapp_option_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_option_id_seq', 1, false);


--
-- Name: myapp_podcast_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_podcast_id_seq', 1, false);


--
-- Name: myapp_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_profile_id_seq', 1, false);


--
-- Name: myapp_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_question_id_seq', 1, false);


--
-- Name: myapp_quizresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_quizresult_id_seq', 1, false);


--
-- Name: myapp_userresponse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_userresponse_id_seq', 1, false);


--
-- Name: myapp_workout_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_workout_id_seq', 1, false);


--
-- Name: myapp_yoga_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_yoga_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: myapp_book myapp_book_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_book
    ADD CONSTRAINT myapp_book_pkey PRIMARY KEY (id);


--
-- Name: myapp_breathingexercise myapp_breathingexercise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_breathingexercise
    ADD CONSTRAINT myapp_breathingexercise_pkey PRIMARY KEY (id);


--
-- Name: myapp_chat myapp_chat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_chat
    ADD CONSTRAINT myapp_chat_pkey PRIMARY KEY (id);


--
-- Name: myapp_movie myapp_movie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_movie
    ADD CONSTRAINT myapp_movie_pkey PRIMARY KEY (id);


--
-- Name: myapp_music myapp_music_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_music
    ADD CONSTRAINT myapp_music_pkey PRIMARY KEY (id);


--
-- Name: myapp_option myapp_option_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_option
    ADD CONSTRAINT myapp_option_pkey PRIMARY KEY (id);


--
-- Name: myapp_podcast myapp_podcast_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_podcast
    ADD CONSTRAINT myapp_podcast_pkey PRIMARY KEY (id);


--
-- Name: myapp_profile myapp_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_profile
    ADD CONSTRAINT myapp_profile_pkey PRIMARY KEY (id);


--
-- Name: myapp_profile myapp_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_profile
    ADD CONSTRAINT myapp_profile_user_id_key UNIQUE (user_id);


--
-- Name: myapp_question myapp_question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_question
    ADD CONSTRAINT myapp_question_pkey PRIMARY KEY (id);


--
-- Name: myapp_quizresult myapp_quizresult_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_quizresult
    ADD CONSTRAINT myapp_quizresult_pkey PRIMARY KEY (id);


--
-- Name: myapp_userresponse myapp_userresponse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_userresponse
    ADD CONSTRAINT myapp_userresponse_pkey PRIMARY KEY (id);


--
-- Name: myapp_workout myapp_workout_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_workout
    ADD CONSTRAINT myapp_workout_pkey PRIMARY KEY (id);


--
-- Name: myapp_yoga myapp_yoga_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_yoga
    ADD CONSTRAINT myapp_yoga_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: myapp_chat_user_id_4a684788; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_chat_user_id_4a684788 ON public.myapp_chat USING btree (user_id);


--
-- Name: myapp_option_question_id_5b970e4f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_option_question_id_5b970e4f ON public.myapp_option USING btree (question_id);


--
-- Name: myapp_quizresult_user_id_2c5046cb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_quizresult_user_id_2c5046cb ON public.myapp_quizresult USING btree (user_id);


--
-- Name: myapp_userresponse_question_id_f1a27497; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_userresponse_question_id_f1a27497 ON public.myapp_userresponse USING btree (question_id);


--
-- Name: myapp_userresponse_selected_option_id_eaffce05; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_userresponse_selected_option_id_eaffce05 ON public.myapp_userresponse USING btree (selected_option_id);


--
-- Name: myapp_userresponse_user_id_80d3bd1d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_userresponse_user_id_80d3bd1d ON public.myapp_userresponse USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_chat myapp_chat_user_id_4a684788_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_chat
    ADD CONSTRAINT myapp_chat_user_id_4a684788_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_option myapp_option_question_id_5b970e4f_fk_myapp_question_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_option
    ADD CONSTRAINT myapp_option_question_id_5b970e4f_fk_myapp_question_id FOREIGN KEY (question_id) REFERENCES public.myapp_question(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_profile myapp_profile_user_id_9fe34268_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_profile
    ADD CONSTRAINT myapp_profile_user_id_9fe34268_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_quizresult myapp_quizresult_user_id_2c5046cb_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_quizresult
    ADD CONSTRAINT myapp_quizresult_user_id_2c5046cb_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_userresponse myapp_userresponse_question_id_f1a27497_fk_myapp_question_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_userresponse
    ADD CONSTRAINT myapp_userresponse_question_id_f1a27497_fk_myapp_question_id FOREIGN KEY (question_id) REFERENCES public.myapp_question(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_userresponse myapp_userresponse_selected_option_id_eaffce05_fk_myapp_opt; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_userresponse
    ADD CONSTRAINT myapp_userresponse_selected_option_id_eaffce05_fk_myapp_opt FOREIGN KEY (selected_option_id) REFERENCES public.myapp_option(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_userresponse myapp_userresponse_user_id_80d3bd1d_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_userresponse
    ADD CONSTRAINT myapp_userresponse_user_id_80d3bd1d_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

